.about {
    padding-top: 50px;
    &__title {
        text-align: center;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 30px;
    }
    &__flex {
        display: flex;
    }
    &__img {
        max-width: 643px;
        margin-right: 22px;
    }
    &__subtitle {
        font-weight: bold;
        @include fsz(27px, 24px, 16px);
        @include lh(34px, 29px, 22px);
    }
    &__subline {
        display: flex;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        width: 70%;
        justify-content: space-between;
        margin-bottom: 15px;
        margin-top: 15px;
    }
    &__target {
        font-weight: bold;
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width:1100px) {
    .about {
        &__flex {
            flex-direction: column;
            align-items: center;
        }
        &__content {
            max-width: 643px;
        }
        &__subtitle {
            max-width: 575px;
            margin-top: 20px;
        }
        &__img {
            margin-right: 0;
        }
    }
}

@media screen and (max-width:760px) {
    .about {
        &__img {
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
        &__subtitle {
            max-width: 575px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
        &__subline {
            margin-left: auto;
            margin-right: auto;
            flex-wrap: wrap;
            width: 170px;
        }
        &__date {
            font-weight: 500;
            &:first-child {
                margin-left: auto;
                margin-right: auto;
            }
        }
        &__target {
            text-align: center;
        }
        &__text {
            text-align: center;
        }
    }
}