.about {
    padding-top: 50px;
    &__title {
        text-align: center;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 30px;
    }
    &__flex {
        display: flex;
    }
    &__img {
        width: 580px;
        height: 280px;
    }
    &__subtitle {
        font-weight: bold;
        @include fsz(27px, 24px, 18px);
        @include lh(34px, 29px, 22px);
        margin-bottom: 15px;
    }
    &__subline {
        display: flex;
        margin-bottom: 15px;
        @include fsz(18px, 16px, 18px);
        font-weight: 700;
    }
    &__date {
        &:not(:last-child) {
            margin-right: 26px;
        }
    }
    &__text {
        @include fsz(18px, 16px, 14px);
        &--bold {
            font-weight: bold;
        }
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }
    &__slider {
        width: 580px;
        height: 310px;
        flex-shrink: 0;
    }
    &__swiper {
        position: relative;
        margin-right: 42px;
    }
}

@media screen and (max-width:1100px) {
    .about {
        &__flex {
            flex-direction: column;
            align-items: center;
        }
        &__content {
            max-width: 643px;
        }
        &__subtitle {
            max-width: 575px;
            margin-top: 20px;
        }
        &__img {
            margin-right: 0;
        }
        &__swiper {
            margin-right: 0;
        }
    }
}

@media screen and (max-width:760px) {
    .about {
        &__img {
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
        &__subtitle {
            max-width: 575px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0;
        }
        &__subline {
            margin-left: auto;
            margin-right: auto;
            flex-direction: column;
            align-items: center;
            margin-bottom: 0;
        }
        &__date {
            margin-bottom: 10px;
            &:not(:last-child) {
                margin-right: 0;
            }
        }
        &__target {
            text-align: center;
        }
        &__text {
            text-align: center;
        }
        &__slider {
            width: 400px;
            height: 230px;
        }
        &__img {
            width: 400px;
            height: auto;
        }
    }
}

@media screen and (max-width:450px) {
    .about {
        &__slider {
            width: 350px;
            height: 200px;
        }
        &__img {
            width: 350px;
        }
    }
}

@media screen and (max-width:380px) {
    .about {
        &__slider {
            width: 320px;
            height: 190px;
        }
        &__img {
            width: 320px;
        }
    }
}

@media screen and (max-width:350px) {
    .about {
        &__slider {
            width: 260px;
            height: 160px;
        }
        &__img {
            width: 260px;
        }
    }
}

.swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 2px;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: $light-green;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
}

.swiper-button-prev,
.swiper-button-next {
    color: $light-green;
}

.swiper-button-next {
    right: -31px;
}

.swiper-button-prev {
    left: -31px;
}