body {
    padding: 0;
    font-family: 'Akrobat', 'Montserrat', sans-serif;
    color: $main;
    font-size: 18px;
    position: relative;
    z-index: 1;
}

a {
    text-decoration: none;
    display: block;
    box-sizing: border-box;
    color: $green;
    &:hover {
        text-decoration: none;
        color: $green;
        font-weight: 700;
    }
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p,
li,
nav,
h1,
h2,
h3,
h4,
h5,
h6,
div,
fieldset {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

textarea {
    resize: none;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.colored {
    color: $light-green;
}

.wrapper {
    max-width: 1302px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-align: center;
    @include fsz(30px, 30px, 18px);
}

@media screen and (max-width: 1100px) {
    .wrapper {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 760px) {
    .wrapper {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.overflow-hidden {
    overflow: hidden;
}

.cards-grid {
    display: flex;
    flex-wrap: wrap;
}

.cards-item {
    width: 422px;
    min-height: 384px;
    margin-bottom: 20px;
    margin-right: 18px;
    &:nth-child(3n+3) {
        margin-right: 0;
    }
}

@media screen and (max-width: 1300px) {
    .cards-item {
        width: 300px;
        min-height: 346px;
        margin-right: 0;
    }
    .cards-grid {
        justify-content: space-between;
    }
}

@media screen and (max-width: 1100px) {
    .cards-grid {
        margin-left: auto;
        margin-right: auto;
        max-width: 944px;
        justify-content: start;
    }
    .cards-item {
        margin-right: 22px;
        &:nth-child(3n+3) {
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 991px) {
    .cards-grid {
        max-width: 620px;
        justify-content: space-between;
    }
    .cards-item {
        margin-right: 0;
    }
}

@media screen and (max-width: 760px) {
    .cards-grid {
        flex-direction: column;
        align-items: center;
    }
}