.contacts {
    padding-top: 35px;
    padding-bottom: 28px;
    background-color: #E9E9E9;
    background-image: url('./../img/contacts-bg.svg');
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        @include fsz(45px,
        40px,
        26px);
        @include lh(51px,
        51px,
        33px);
        color: #fff;
        max-width: 400px;
        margin-bottom: 28px;
    }
    &__item {
        display: flex;
        align-items: center;
        max-width: 450px;
        color: #fff;
        @include fsz(24px,
        24px,
        18px);
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }
        &:before {
            content: '';
            width: 72px;
            height: 72px;
            border-radius: 50%;
            background-color: #fff;
            background-image: url('./../img/contacts-item.svg');
            margin-right: 10px;
            flex-shrink: 0;
        }
    }
    &__free {
        color: $main;
        @include fsz(30px,
        30px,
        24px);
        font-weight: 700;
        text-align: center;
    }
    &__program {
        @include fsz(16px,
        16px,
        14px);
        margin-top: 15px;
        text-align: center;
    }
}

.form {
    width: 1300px;
    padding: 20px 54px;
    background-color: #fff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.09);
    border-radius: 7px;
    margin-bottom: 15px;
    &__wrapper {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    & label {
        cursor: pointer;
    }
    &__title {
        @include fsz(24px,
        24px,
        20px);
        margin-bottom: 23px;
        text-align: center;
    }
    &__unit {
        flex-basis: 315px;
    }
    &__subtitle {
        margin-bottom: 15px;
        color: $green;
    }
    &__container {
        position: relative;
        margin-bottom: 20px;
    }
    &__label {
        position: absolute;
        left: 13px;
        color: #6A6A6A;
        top: 14px;
        font-size: 14px;
        transition: .3s;
        &--fill {
            top: 4px;
            transition: .3s;
            font-size: 11px;
            line-height: 13px;
        }
    }
    &__input {
        border: 1px solid #6A6A6A;
        width: 100%;
        height: 45px;
        padding-left: 13px;
        padding-bottom: 6px;
        padding-top: 21px;
        border-radius: 5px;
        line-height: 17px;
        font-size: 14px;
        color: $main;
        &:focus,
        &:hover {
            outline: transparent;
            border-color: $main;
        }
        &--error {
            border-color: red;
        }
        &--email,
        &--position {
            width: 174px;
        }
        &--tel,
        &--company {
            width: 130px;
        }
    }
    &__error {
        display: none;
        position: absolute;
        &--visible {
            display: block;
            font-size: 11px;
            color: red;
        }
    }
    &__pair {
        display: flex;
        justify-content: space-between;
        width: 100%;
        &--notify {
            align-items: center;
            margin-bottom: 18px;
        }
    }
    &__send_notify {
        font-size: 14px;
        color: #000;
    }
    &__personal_data {
        display: none;
        &:checked~.form__personal_label:before {
            background-image: url('./../img/check-lg.svg');
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    &__personal_label {
        position: relative;
        font-size: 12px;
        line-height: 13px;
        color: #000;
        padding-left: 34px;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 25px;
            height: 25px;
            border: 2px solid #292929;
            border-radius: 2px;
        }
    }
    &__submit {
        width: 207px;
        border: none;
        margin-top: 8px;
    }
}

.drop {
    margin-bottom: 20px;
    position: relative;
    &__title {
        width: 100%;
        cursor: pointer;
        font-size: 14px;
        height: 45px;
        display: inline-flex;
        align-items: center;
        padding-left: 15px;
        color: #6A6A6A;
        font-weight: 500;
        border: 1px solid #6A6A6A;
        border-radius: 5px;
        position: relative;
        padding-right: 50px;
        &:after {
            content: '';
            position: absolute;
            cursor: pointer;
            transition: .2s;
            right: 18px;
            top: 18px;
            width: 16px;
            height: 11px;
            background-image: url('./../img/expand.svg');
        }
        &--name {
            white-space: nowrap;
        }
        &--value {
            font-size: 12px;
        }
        &--opened {
            padding-left: 10px;
            border-radius: 5px 5px 0 0;
            border-bottom: none;
            font-size: 12px;
            & .drop__title--name {
                font-weight: 700;
                color: $green;
            }
            &:after {
                transform: rotate(180deg);
            }
            &:before {
                content: '';
                position: absolute;
                transition: .2s;
                right: 15px;
                left: 15px;
                bottom: 0;
                width: 290px;
                height: 1px;
                background-color: #E4E4E4;
                z-index: 5;
            }
        }
    }
    &__expand {
        display: none;
        position: absolute;
        top: 44px;
        left: 0;
        width: 315px;
        background-color: #fff;
        z-index: 2;
        border: 1px solid #6A6A6A;
        border-radius: 0 0 5px 5px;
        border-top: none;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 8px;
        &--opened {
            display: block;
            z-index: 4;
        }
    }
    &__check {
        display: none;
        &:checked~.drop__label:before {
            border: none;
            background-color: $green;
            background-image: url('./../img/check-sm.svg');
            background-position: center;
            background-repeat: no-repeat;
        }
    }
    &__label {
        position: relative;
        font-size: 12px;
        line-height: 15px;
        padding-left: 20px;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 13px;
            height: 13px;
            border: 1px solid #292929;
            border-radius: 2px;
        }
        &--time {
            font-weight: 700;
        }
    }
    &__all {
        font-weight: 700;
        font-size: 12px;
        color: $green;
        cursor: pointer;
    }
}

.notify {
    width: 315px;
    position: relative;
    &__title {
        cursor: pointer;
        font-size: 14px;
        height: 45px;
        display: flex;
        align-items: center;
        padding-left: 15px;
        border: 1px solid #6A6A6A;
        border-radius: 5px;
        color: #6A6A6A;
        font-weight: 500;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            cursor: pointer;
            transition: .2s;
            right: 18px;
            top: 18px;
            width: 16px;
            height: 11px;
            background-image: url('./../img/expand.svg');
            z-index: 3;
            background-size: contain;
            background-repeat: no-repeat;
        }
        &--opened {
            &:after {
                transform: rotate(180deg);
            }
        }
    }
    &__list {
        display: none;
        &--opened {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            width: 315px;
            height: 76px;
            background-color: #fff;
            border: 1px solid #6A6A6A;
            border-radius: 5px;
            padding-top: 13px;
            padding-left: 11px;
        }
    }
    &__item {
        color: #6A6A6A;
        font-size: 14px;
        &--active {
            font-weight: 700;
            color: $green;
        }
    }
    &__radio {
        display: none;
    }
}

@media screen and (max-width:1150px) {
    .form {
        width: 100%;
        &__wrapper {
            max-width: 720px;
        }
    }
}

@media screen and (max-width:1000px) {
    .contacts {
        padding-top: 20px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        &__wrapper {
            flex-direction: column;
            align-items: center;
            padding-right: 0;
        }
        &__title {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
    }
    .form {
        padding: 20px 30px;
        &__unit {
            &--last {
                flex-basis: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
}

@media screen and (max-width:450px) {
    .contacts {
        &__list {
            text-align: center;
        }
    }
    .form {
        width: 380px;
        padding-left: 16px;
        padding-right: 16px;
        &__pair {
            flex-direction: column;
            &--notify {
                flex-direction: row;
            }
        }
        &__input--email,
        &__input--position,
        &__input--tel,
        &__input--company {
            width: 100%;
        }
        &__wrapper {
            justify-content: space-around;
        }
        &__accept {
            margin-top: 15px;
            max-width: 315px;
        }
    }
    .notify {
        flex-shrink: 0;
        width: 100%;
        &__list {
            width: 100%;
        }
    }
    .drop {
        &__expand {
            width: auto;
        }
        &__title {
            &--opened {
                &:before {
                    left: 5%;
                    width: 90%;
                }
            }
        }
    }
}

@media screen and (max-width:400px) {
    .form {
        width: 350px;
    }
}

@media screen and (max-width:350px) {
    .form {
        width: 290px;
    }
}