@font-face {
    font-family: 'Akrobat';
    src: url('./../fonts/Akrobat-Regular.eot');
    src: url('./../fonts/Akrobat-Regular.eot?#iefix') format('embedded-opentype'), url('./../fonts/Akrobat-Regular.svg#Akrobat-Regular') format('svg'), url('./../fonts/Akrobat-Regular.ttf') format('truetype'), url('./../fonts/Akrobat-Regular.woff') format('woff'), url('./../fonts/Akrobat-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}