.footer {
    padding-top: 25px;
    padding-bottom: 25px;
    &__wrapper {
        display: flex;
    }
    &__left {
        margin-right: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    &__logo {
        background-image: url('./../img/logo.svg');
        width: 145px;
        height: 37px;
        flex-shrink: 0;
    }
    &__others {
        display: flex;
        align-self: flex-start;
        margin-right: auto;
    }
    &__other {
        display: flex;
        align-items: center;
        margin-right: 20px;
    }
    &__img {
        flex-shrink: 0;
        margin-right: 5px;
    }
    &__other-text {
        width: 75px;
        font-size: 12px;
        line-height: 1;
    }
    &__nav {
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
    &__link {
        margin-right: 48px;
        @include fsz(18px,
        16px,
        14px);
        &:last-child {
            margin-right: 0;
        }
    }
    &__policy {
        font-size: 12px;
    }
}

@media screen and (max-width:1100px) {
    .footer {
        &__wrapper {
            flex-wrap: wrap;
        }
        &__policy {
            font-size: 10px;
            margin-top: 10px;
        }
        &__nav {
            margin-right: 0;
        }
        &__other {
            margin-bottom: 10px;
        }
        &__link {
            margin-right: 20px;
        }
        &__left {
            margin-right: 10px;
        }
    }
}

@media screen and (max-width:991px) {
    .footer {
        &__others {
            flex-wrap: wrap;
            max-width: 173px;
            justify-content: space-between;
        }
        &__other {
            margin-right: 0;
        }
        &__link {
            margin-right: 15px;
        }
    }
}

@media screen and (max-width:760px) {
    .footer {
        &__wrapper {
            justify-content: space-between;
            position: relative;
        }
        &__nav {
            margin-left: 0;
            flex-direction: column;
            align-items: flex-end;
        }
        &__link {
            margin-right: 0;
            font-weight: 700;
            margin-bottom: 10px;
        }
        &__others {
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
}

@media screen and (max-width:400px) {
    .footer {
        &__left {
            order: 1;
        }
        &__others {
            position: absolute;
            left: 0;
            bottom: 0;
            order: 3;
        }
        &__nav {
            order: 2;
        }
    }
}

.popup {
    display: none;
    opacity: 0;
    z-index: -1;
    position: fixed;
    animation: .5s ease popup-down;
    text-align: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    &--clicked {
        display: block;
    }
    &__layout {
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, .76);
    }
    &--opened {
        display: block;
        opacity: 1;
        z-index: 4;
        animation: .5s ease popup-up;
    }
    &__window {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        border-radius: 7px;
        width: 415px;
        height: 295px;
        background-color: #fff;
        background-image: url('./../img/popup-bg.svg');
        background-repeat: no-repeat;
        background-position: bottom right;
    }
    &__title {
        margin-top: 66px;
        margin-bottom: 10px;
        @include fsz(28px,
        28px,
        24px);
        color: $green;
        max-width: 240px;
        margin-left: auto;
        margin-right: auto;
    }
    &__text {
        font-size: 16px;
        max-width: 265px;
        margin-left: auto;
        margin-right: auto;
    }
}

@keyframes popup-up {
    0% {
        z-index: 0;
        opacity: 0;
    }
    100% {
        z-index: 4;
        opacity: 1;
    }
}

@keyframes popup-down {
    0% {
        z-index: 4;
        opacity: 1;
    }
    100% {
        z-index: 0;
        opacity: 0;
    }
}