.footer {
    padding-top: 25px;
    padding-bottom: 55px;
    &__wrapper {
        display: flex;
    }
    &__logo {
        background-image: url('./../img/footer-logo.svg');
        width: 131px;
        height: 37px;
        flex-shrink: 0;
        margin-right: 200px;
    }
    &__nav {
        display: flex;
        margin-right: 150px;
    }
    &__link {
        margin-right: 48px;
        &:last-child {
            margin-right: 0;
        }
    }
}