.header {
    padding-top: 8px;
    padding-bottom: 48px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.07);
    background-image: url('./../img/header-bg.svg');
    background-repeat: no-repeat;
    background-position: right bottom;
    &__top {
        display: flex;
        margin-bottom: 57px;
        //position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        right: 0;
    }
    &__logo {
        margin-right: 30px;
        background-image: url('./../img/logo.svg');
        width: 145px;
        height: 37px;
        flex-shrink: 0;
    }
    &__others {
        display: flex;
        margin-right: auto;
        &--mobile {
            display: none;
        }
    }
    &__other {
        display: flex;
        align-items: center;
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__img {
        margin-right: 5px;
        flex-shrink: 0;
    }
    &__other-text {
        width: 75px;
        font-size: 12px;
        line-height: 1;
    }
    &__nav {
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
    &__hamburger {
        display: none;
    }
    &__menu {
        display: flex;
    }
    &__item {
        margin-right: 40px;
    }
    //
    &__middle {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: -15px;
    }
    &__start {
        display: flex;
        font-weight: 700;
        @include fsz(18px,
        16px,
        16px);
        &--date {
            margin-left: 10px;
            background: rgba(90, 157, 50, 0.25);
            border: 1px solid $green;
            height: 26px;
            padding-left: 7px;
            padding-right: 11px;
            border-radius: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $green;
            &:before {
                content: '';
                width: 17px;
                height: 17px;
                background-image: url('./../img/header-calendar.svg');
                margin-right: 8px;
            }
        }
    }
    &__subtitle {
        @include fsz(18px,
        18px,
        16px);
        @include lh(22px,
        27px,
        21px);
        font-weight: 500;
        &--strong {
            font-weight: 700;
        }
    }
    &__members {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(11, 126, 96, .6);
        color: #fff;
        padding-right: 18px;
        width: 222px;
        height: 63px;
        border-radius: 7px;
        font-size: 20px;
        line-height: 22px;
    }
    &__numbers {
        background-color: $green;
        border-radius: 7px;
        padding: 8px 7px 7px 6px;
        color: $main;
        font-weight: 700;
        font-size: 38px;
        display: flex;
        justify-content: space-around;
        margin-right: 7px;
        height: 63px;
        width: 110px;
        flex-shrink: 0;
    }
    &__number {
        line-height: 48px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        width: 22px;
        border-radius: 3px;
    }
    //
    &__title {
        max-width: 505px;
        @include fsz(45px,
        45px,
        26px);
        @include lh(55px,
        55px,
        32px);
        color: $green;
        margin-bottom: 20px;
    }
    &__text {
        max-width: 610px;
        margin-bottom: 18px;
        @include fsz(18px,
        16px,
        16px);
    }
}

@media screen and (max-width: 1450px) {
    .header {
        background-position: bottom right -230px;
    }
}

@media screen and (max-width: 1100px) {
    .header {
        background-position: bottom -46px right -579px;
        padding-bottom: 39px;
        padding-top: 15px;
        &__top {
            margin-bottom: 37px;
        }
        &__logo {
            margin-right: auto;
        }
        &__item {
            margin-right: 15px;
            &:last-child {
                margin-right: 0;
            }
        }
        &__title {
            max-width: 504px;
        }
        &__text {
            max-width: 405px;
        }
    }
}

@media screen and (max-width: 991px) {
    .header {
        &__top {
            justify-content: space-between;
        }
        &__others {
            display: none;
            &--mobile {
                display: flex;
                max-width: 178px;
                justify-content: space-between;
                flex-wrap: wrap;
                margin-right: 0;
            }
        }
        &__other {
            margin-right: 0;
            margin-bottom: 10px;
        }
        &__nav {
            margin-right: 0;
        }
        &__menu {
            height: 0;
            overflow: hidden;
            transition: .3s;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 52px;
            background-color: #fff;
            width: 100vw;
            flex-direction: column;
            align-items: center;
            padding: 0;
            background-image: url('./../img/menu-bg.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center bottom -101px;
            &--opened {
                transition: .3s;
                height: calc(100vh - 52px);
                padding-top: 70px;
                z-index: 11;
            }
        }
        &__hamburger {
            display: block;
            padding-left: 0;
            padding-right: 0;
            width: 32px;
            height: 3px;
            background-color: $green;
            border: none;
            position: relative;
            margin-top: 6px;
            margin-bottom: 6px;
            border-radius: 2px;
            transition: .3s;
            &:focus {
                outline: transparent;
            }
            &:before,
            &:after {
                content: '';
                position: absolute;
                left: 0;
                width: 32px;
                height: 3px;
                background-color: $green;
                top: -6px;
                border-radius: 2px;
                transition: .3s;
                transform-origin: left;
            }
            &:after {
                top: auto;
                bottom: -6px;
            }
            &--opened {
                background-color: transparent;
                transition: .3s;
                &:before {
                    transform: rotate(45deg);
                    transform-origin: left;
                    transition: .3s;
                }
                &:after {
                    transform: rotate(-45deg);
                    transform-origin: left;
                    bottom: -16px;
                    transition: .3s;
                }
            }
        }
        &__item {
            margin-right: 0;
            font-weight: 700;
            font-size: 20px;
            margin-bottom: 30px;
        }
    }
}

@media screen and (max-width: 760px) {
    .header {
        background-image: url('./../img/header-bg-sm.svg');
        background-position: bottom 47px right 0px;
        padding-bottom: 39px;
        position: relative;
        &__top {
            position: relative;
            padding-bottom: 40px;
            margin-bottom: 0;
        }
        &__subtitle {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__middle {
            flex-direction: column;
            align-items: center;
            margin-bottom: 10px;
        }
        &__menu {
            background-position: center bottom;
        }
        &__info {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-bottom: 15px;
        }
        &__start {
            margin-top: 15px;
        }
        &__bottom {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__title {
            max-width: 272px;
            text-align: center;
        }
        &__text {
            text-align: center;
        }
    }
}

@media screen and (max-width: 360px) {
    .header {
        &__menu {
            &--opened {
                padding-top: 20px;
            }
        }
    }
}